.instrumento {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px; /* Ajusta el margen según sea necesario */
}

.item-venta {
  display: flex;
  width: calc(100% ); 
  max-width: 1600px;
  max-height: 200px;
  border-bottom: 2px solid #555454;
  padding-bottom: 15px;
  overflow: hidden;
}

.imagen-instrumento {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 30px 8px 0 0; /* Bordes redondeados solo arriba */
}

.imagen-instrumento {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px 0 0; /* Bordes redondeados solo arriba */
}

.detalles-instrumento {
  padding: 4px;
}


  